body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
}

#game-container {
    width: 480px;
    height: 640px;
    position: relative;
    border: 2px solid #fff;
}

canvas {
    display: block;
}
